.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.election-list {
    display: inline-flex;
    justify-content: space-between; /* Dodano: prostor između elemenata */
    column-gap: 10px;
}


.election-card {
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    flex-basis: 90%;
}

.election-card .election-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.election-card .election-details {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.election-card p {
    margin-bottom: 10px;
}

.election-card button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #003399;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.election-card button:hover {
    background-color: #001a66;
}
.title{
    font-size: 20px;
    color: #001a66;
    font-weight: bold;
}
